* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 64px;
  color: white;
  border: 1px solid linear-gradient(#64BB47, #2C9553);
  width: 200px;
  font-family: "Sofia Pro Light", "Arial";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.btn.fill {
  background: linear-gradient(#64BB47, #2C9553);
}
.btn.convert {
  background-color: #494949;
  border: 1px solid #494949;
  border-radius: 27px;
  width: 160px;
  font-family: "Sofia Pro Light", "Arial";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
header {
  padding: 33px 54px 0px 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Sofia Pro Light", "Arial";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.nav-link {
  color: #2C3847;
}
.nav-link.green {
  color: #5FB848;
}

.navi {
  display: flex;
}

.right {
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.logo {
  margin: auto 148px auto auto;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  font-family: "Poppins", "Arial";
}

footer .grid-footer {
  padding: 256px 100px 100px 176px;
  display: grid;
  grid-template-columns: 36% 17% 15% 17% 15%;
  max-width: 2000px;
  margin: 0 auto;
}
footer h3 {
  font-size: 22px;
  font-weight: 770;
  text-align: inherit;
  margin-bottom: 20px;
}
footer .btn {
  font-size: 16px;
  font-weight: 760;
  color: black;
  font-family: "SharpSansNo1-Thin";
  justify-content: flex-start;
  align-items: start;
  height: auto;
  margin-bottom: 12px;
}
footer p {
  font-size: 16px;
  font-weight: 760;
  line-height: normal;
}
footer .desk {
  max-width: 270px;
}
footer .all-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background: linear-gradient(#64BB47, #2C9553);
  color: #FFF;
  text-align: center;
  position: relative;
}
footer .logo {
  margin: 15px 148px 36px auto;
}

.icon-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  height: 24px;
}

p {
  font-family: "SharpSansNo1-Thin";
  font-size: 24px;
  font-style: normal;
  font-weight: 750;
  line-height: 34px;
}
p.content {
  font-size: 18px;
  line-height: 28px;
}

.des-only {
  display: none;
}

h2 {
  color: #151414;
  text-align: center;
  font-family: "SharpSansNo1-Semibold", "Arial";
  font-size: 54px;
  font-style: normal;
  font-weight: 770;
  margin-bottom: 15px;
}

h3 {
  color: #151414;
  text-align: center;
  font-family: "SharpSansNo1-Semibold", "Arial";
  font-size: 30px;
  font-style: normal;
  font-weight: 770;
  margin-bottom: 15px;
}

#hero {
  display: flex;
  justify-content: center;
}
#hero h1 {
  font-family: "SharpSansNo1-Semibold", "Arial";
  font-size: 76px;
  font-style: normal;
  font-weight: 770;
  line-height: 100px;
  margin-bottom: 30px;
}
#hero p {
  line-height: 34px;
  margin-bottom: 50px;
}
#hero .green-color {
  color: #5FB848;
}
#hero .grid-block {
  display: grid;
  padding: 145px 135px 0 175px;
  grid-template-columns: 60% 40%;
  grid-auto-rows: 720px;
  max-width: 2000px;
}
#hero .hero-card {
  position: relative;
  right: 295px;
  top: -214px;
}

#why-choose-us {
  padding: 20px 200px 0 230px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  font-family: "SharpSansNo1-Semibold", "Arial";
}
#why-choose-us p {
  color: #3B433E;
  text-align: center;
  line-height: 34px;
  margin-bottom: 62px;
}
#why-choose-us p.p-numbers {
  color: #545454;
  font-size: 20px;
  font-weight: 760;
  margin-bottom: 0;
}
#why-choose-us h3 {
  margin-bottom: 25px;
}
#why-choose-us h3.num {
  font-family: "SharpSansNo1-Bold", "Arial";
  color: #000;
  font-size: 44px;
  font-weight: 780;
  text-align: center;
}
#why-choose-us .content {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 750;
  line-height: 28px;
  margin-bottom: 25px;
}
#why-choose-us .numbers {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}

#about-us {
  display: flex;
  justify-content: center;
  padding: 200px 70px 0 147px;
  gap: 95px;
  align-items: center;
  margin: 0 auto;
}
#about-us h2 {
  margin-bottom: 38px;
  text-align: left;
}
#about-us p {
  margin-bottom: 68px;
  font-size: 22px;
  width: 500px;
}
#about-us .btn {
  width: 210px;
}
#about-us .about-us-cards {
  display: flex;
  gap: 20px;
}
#about-us .left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#about-us .right {
  display: flex;
  align-items: end;
}

#fresh-vegetables {
  display: flex;
  justify-content: center;
  padding: 200px 120px 0 135px;
  height: 722px;
  gap: 70px;
  align-items: center;
  max-width: 2000px;
}
#fresh-vegetables h2 {
  margin-bottom: 30px;
  text-align: left;
}
#fresh-vegetables p {
  margin-bottom: 40px;
  font-size: 22px;
}
#fresh-vegetables .fresh-vegetables-cards {
  display: flex;
}
#fresh-vegetables .fresh-vegetables-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#best-chefs {
  display: flex;
  justify-content: center;
  padding: 130px 40px 0 135px;
  gap: 35px;
  align-items: flex-start;
  max-width: 2000px;
}
#best-chefs h2 {
  margin-bottom: 35px;
  text-align: left;
  line-height: 70px;
}
#best-chefs p {
  font-size: 20px;
}
#best-chefs .m-bottom {
  margin-bottom: 30px;
  font-size: 22px;
}
#best-chefs .check {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#best-chefs .best-chefs-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#best-chefs .direction {
  display: flex;
  align-items: baseline;
  gap: 17px;
}
#best-chefs .im-width {
  width: 20px;
  height: 20px;
}
#best-chefs .best-chefs-cards {
  position: relative;
  top: -60px;
}

#special-dishes {
  padding: 64px 118px 0 135px;
  max-width: 2000px;
  margin: 0 auto;
}
#special-dishes p {
  text-align: center;
  margin-bottom: 60px;
}
#special-dishes p.mini {
  font-size: 18px;
  line-height: 28px;
  margin: 0 20px;
  margin: 0 20px 50px 20px;
}
#special-dishes h3 {
  margin-bottom: 25px;
  margin-top: 20px;
}
#special-dishes .flex-dishes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 60px;
}
#special-dishes .info {
  background-color: #fff;
  border: 1px solid #EBEBEB;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#special-dishes .center {
  box-shadow: 10px 20px 70px 0px rgba(71, 68, 68, 0.08), -15px -50px 81px 0px #FFF;
}
#special-dishes .btnn {
  margin: 0 auto;
}

#happy-clients {
  padding: 178px 180px 0 194px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#happy-clients h2 {
  margin-bottom: 47px;
}
#happy-clients h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: -8px;
}
#happy-clients p {
  font-size: 18px;
  font-weight: 750;
  margin-left: 25px;
  margin-right: 10px;
  line-height: 30px;
}
#happy-clients .avatar-info {
  font-size: 14px;
  font-weight: 760;
  margin-left: 0;
}
#happy-clients .avatars {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 15px;
  margin-bottom: 50px;
}
#happy-clients .avatar {
  display: grid;
  grid-template-columns: 26% 74%;
  margin-bottom: 30px;
  margin-top: 45px;
  margin-left: 21px;
}
#happy-clients .name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#happy-clients .ava {
  width: 514px;
  height: 347px;
}
#happy-clients .arrows {
  display: flex;
  margin: 0 auto;
}
#happy-clients .left {
  box-shadow: 10px 20px 70px 0px rgba(71, 68, 68, 0.08), -15px 0px 81px 0px #FFF;
  background-color: #fff;
  border: 1px solid #EBEBEB;
  border-radius: 20px;
}

#subscription {
  padding: 185px 0 0 7px;
}
#subscription p {
  text-align: center;
  margin-bottom: 59px;
}
#subscription h2 {
  font-size: 36px;
}
#subscription .btn {
  margin: 0 auto 0 0;
  width: 170px;
  font-size: 20px;
}
#subscription .email-item {
  display: flex;
  gap: 15px;
}
#subscription .email {
  font-family: "SharpSansNo1-Thin";
  display: flex;
  align-items: center;
  width: 330px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 165px;
  border: 1.5px solid #F5F5F5;
  background: #FFF;
  margin: 0 0 0 auto;
  font-size: 18px;
  font-weight: 750;
  outline: none;
  padding-left: 24px;
}

@media (max-width: 1200px) {
  .des-only {
    display: block;
  }
  .desktop-only {
    display: block;
  }
  header {
    padding: 20px 20px 0px 20px;
  }
  img {
    width: 180px;
    height: 180px;
  }
  img.logo {
    width: auto;
    height: auto;
  }
  h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 330px;
    text-align: center;
  }
  p {
    font-family: "SharpSansNo1-Thin";
    font-size: 20px;
    font-style: normal;
    font-weight: 750;
    line-height: 34px;
  }
  p.content {
    font-size: 18px;
    line-height: 28px;
  }
  .btn {
    margin: 0 auto;
  }
  #hero h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 330px;
    text-align: center;
  }
  #hero img {
    width: 400px;
    height: 400px;
    margin: 0 0 0 240px;
    position: absolute;
    top: -350px;
    left: 50px;
  }
  #hero p {
    margin-bottom: 30px;
    position: relative;
  }
  #hero .grid-block {
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    padding: 40px 40px 0 40px;
  }
  #why-choose-us {
    padding: 20px 40px 0 40px;
  }
  #why-choose-us h2 {
    margin-bottom: 15px;
  }
  #why-choose-us h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  #why-choose-us h3.num {
    font-size: 24px;
  }
  #why-choose-us p {
    margin-bottom: 32px;
  }
  #why-choose-us p.p-numbers {
    font-size: 14px;
    line-height: 20px;
  }
  #why-choose-us img {
    width: 70px;
    height: 70px;
  }
  #why-choose-us .content {
    gap: 20px;
    font-size: 14px;
    line-height: 20px;
  }
  #why-choose-us .new-line {
    word-spacing: 10px;
  }
  #why-choose-us .numbers {
    gap: 30px;
  }
  #about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 30px 0 30px;
    align-items: center;
    margin: 0 auto;
    height: auto;
  }
  #about-us h2 {
    text-align: center;
  }
  #about-us p {
    font-size: 20px;
    width: auto;
    margin-bottom: 30px;
    text-align: center;
  }
  #about-us .about-us-cards {
    display: flex;
    gap: 20px;
    position: relative;
    top: -60px;
  }
  #about-us img {
    width: 180px;
    height: 180px;
  }
  #about-us .right-img {
    height: 360px;
  }
  #fresh-vegetables {
    padding: 0 30px 0 30px;
    margin-top: -180px;
    height: auto;
    gap: 0;
    flex-direction: column;
  }
  #fresh-vegetables .fresh-vegetables-cards {
    position: relative;
    top: 390px;
    left: 150px;
  }
  #fresh-vegetables h2 {
    text-align: center;
    margin: 0 auto 30px auto;
  }
  #fresh-vegetables p {
    text-align: center;
    margin-bottom: 250px;
  }
  #fresh-vegetables img {
    width: 45%;
    height: 55%;
  }
  #best-chefs {
    padding: 70px 40px 0 40px;
    gap: 0;
    flex-direction: column;
  }
  #best-chefs h2 {
    text-align: center;
    line-height: 50px;
    margin: 0 auto 35px auto;
  }
  #best-chefs .m-bottom {
    text-align: center;
  }
  #best-chefs .best-chefs-cards {
    position: relative;
    top: 0;
    margin: 0 auto;
  }
  #best-chefs .chef-foto {
    width: 65%;
    height: 65%;
    position: relative;
    left: 120px;
  }
  #special-dishes {
    padding: 70px 40px 0 40px;
  }
  #special-dishes h2 {
    margin-bottom: 30px;
  }
  #special-dishes p {
    margin-bottom: 20px;
  }
  #special-dishes .flex-dishes {
    gap: 10px;
    margin-bottom: 30px;
  }
  #happy-clients {
    padding: 70px 40px 0 40px;
  }
  #happy-clients .avatars {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  #happy-clients .ava {
    width: auto;
    height: auto;
  }
  #happy-clients .avatar {
    grid-template-columns: 30% 70%;
    margin-top: 25px;
    margin-left: 20px;
  }
  #happy-clients .name {
    margin-left: 20px;
  }
  #happy-clients .arrows {
    width: auto;
    height: auto;
  }
  #happy-clients img {
    width: 90px;
    height: 90px;
  }
  #subscription {
    padding: 70px 40px 0 40px;
  }
  #subscription h2 {
    margin-bottom: 10px;
  }
  #subscription p {
    margin-bottom: 20px;
  }
  #subscription .email {
    text-align: center;
    margin: 0 auto;
  }
  #subscription .btn {
    margin: 0 auto;
  }
  #subscription .email-item {
    flex-direction: column;
  }
  footer .grid1 {
    grid-row: 1;
    grid-column: 2/5;
  }
  footer .grid2 {
    grid-row: 2;
  }
  footer .grid-footer {
    padding: 70px 30px 70px 30px;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    gap: 10px;
  }
  footer .btn {
    font-size: 14px;
  }
  footer h3 {
    font-size: 18px;
  }
  footer .desk {
    margin-bottom: 20px;
  }
  .img {
    width: 50px;
    height: 50px;
  }
  .desktop-only {
    display: none !important;
  }
  .mobile-nav {
    position: absolute;
    flex-direction: column;
    right: 20px;
    top: 74px;
    align-items: flex-end;
    width: 100%;
    background-color: white;
    transform: translateX(100%);
    transition: all 0.4s ease;
  }
  .hero-card {
    width: 100px;
    height: 30px;
  }
}
@media (max-width: 800px) {
  #hero img {
    width: 400px;
    height: 400px;
    margin: 0 0 0 240px;
    position: absolute;
    top: -350px;
  }
  #fresh-vegetables .fresh-vegetables-cards {
    position: relative;
    top: 450px;
    left: 170px;
  }
}
@media (max-width: 500px) {
  #hero img {
    top: -440px;
    left: 10px;
  }
  #fresh-vegetables {
    padding: 40px 30px 0 30px;
  }
  #fresh-vegetables .fresh-vegetables-cards {
    position: relative;
    top: 510px;
    left: 90px;
  }
  #fresh-vegetables img {
    width: 55%;
    height: 55%;
  }
  #best-chefs .chef-foto {
    left: 60px;
    top: 30px;
  }
  footer .grid-footer {
    grid-template-columns: 1% 20% 20% 20% 20% 5%;
  }
}/*# sourceMappingURL=main.css.map */