@import 'common';


p{
        font-family: $text-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 750;
        line-height: 34px;
        
        &.content{
            font-size: 18px;
            line-height: 28px;
        }       
        
}
.des-only{
    display: none;
}

h2{
    color: #151414;
    text-align: center;
    font-family: $main-font;
    font-size: 54px;
    font-style: normal;
    font-weight: 770;
    margin-bottom: 15px;
    
            
}

h3{
    color: #151414;
    text-align: center;
    font-family: $main-font;
    font-size: 30px;
    font-style: normal;
    font-weight: 770;
    margin-bottom: 15px;
    
            
}




#hero{
    display: flex;  
    justify-content: center;
    //height: 886px;  

    h1{
        font-family: $main-font;
        font-size: 76px;
        font-style: normal;
        font-weight: 770;
        line-height: 100px;
        margin-bottom: 30px;
    }

    
    p{
        line-height: 34px;
        margin-bottom: 50px;
        //width: 504px;
    }

    .green-color{
        color: #5FB848;
    }
    
    .grid-block{
        display: grid;
        padding: 145px 135px 0 175px;
        grid-template-columns: 60% 40%;
        grid-auto-rows: 720px;
        max-width: 2000px;

    }
    .hero-card{
        position: relative;
        right: 295px;
        top: -214px;
    }


}

#why-choose-us{
    
    padding: 20px 200px 0 230px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-family: $main-font;

    
    p{
        color: #3B433E;
        text-align: center;
        line-height: 34px;
        margin-bottom: 62px;
        
        &.p-numbers{
            color: #545454;
            font-size: 20px;
            font-weight: 760;
            margin-bottom: 0;
        
        
        }
    }

    h3{
        margin-bottom: 25px;
        
        &.num{
            font-family: $bold-font;
            color: #000;
            font-size: 44px;                
            font-weight: 780;  
            text-align: center;
        }
    }
    
    .content{
        display: flex;
        justify-content:space-between;
        gap: 100px;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 750;
        line-height: 28px;
        margin-bottom: 25px;
        //margin-bottom: 60px;
    }

    .numbers{
        display: flex;
        justify-content:space-between;
        gap: 150px;
    }
  
    
}

#about-us{
    display: flex;
    justify-content: center;
    padding: 200px 70px 0 147px;
    //height: 722px;
    gap: 95px;    
    align-items: center;
    margin: 0 auto;
        
    h2{
        margin-bottom: 38px;
        text-align: left;
    }

    p{
        margin-bottom: 68px;
        font-size: 22px;
        width: 500px;
    }
    .btn{
        width: 210px;
    }

    
    .about-us-cards{
        display: flex;
        //height: 722px;
        gap: 20px;
                
    }
    .left{
        display: flex;
        flex-direction: column;
        gap:20px;        
    }
    .right{
        display: flex;
        align-items: end;        
    }
}


#fresh-vegetables{
    display: flex;
    justify-content: center;
    padding: 200px 120px 0 135px;
    height: 722px;
    gap: 70px;
    align-items: center;
    max-width: 2000px;
    
    h2{
        margin-bottom: 30px;
        text-align: left;
    }

    p{
        margin-bottom: 40px;
        font-size: 22px;
        
    }

    .fresh-vegetables-cards{
        display: flex;
    }
    .fresh-vegetables-content{
        display: flex;
        flex-direction: column;
        align-items: start;    
    }
}

#best-chefs{
    display: flex;
    justify-content: center;
    padding: 130px 40px 0 135px;
    gap: 35px;
    align-items: flex-start;
    max-width: 2000px;
    h2{
        margin-bottom: 35px;
        text-align: left;
        line-height: 70px;
    }

    p{
        font-size: 20px;
        
    }
    .m-bottom{
        margin-bottom: 30px;
        font-size: 22px;
    }
    .check{
        display: flex;
        flex-direction: column;
        gap: 10px;

        
    }

    .best-chefs-content{
        display: flex;
        flex-direction: column;
        align-items: start;    
    }
    .direction{
        display: flex;
        align-items: baseline;
        gap: 17px;
    }
    .im-width{
        width: 20px;
        height: 20px;

    }
    .best-chefs-cards{
        position: relative;
        top: -60px;
    }
}

#special-dishes{
    padding: 64px 118px 0 135px;
    max-width: 2000px;
    margin: 0 auto;
    p{
        text-align: center;
        margin-bottom: 60px;
        &.mini{
            font-size: 18px;
            line-height: 28px;
            margin: 0 20px;
            margin: 0 20px 50px 20px;
        }
    }
    

    h3{
        margin-bottom: 25px;
        margin-top: 20px;
    }

    .flex-dishes{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-bottom: 60px;
    }

    .info{
        //width: 356px;
        //height: 520px;
        background-color:#fff;
        border: 1px solid #EBEBEB;
        border-radius: 20px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;      
       }

       .center{
        box-shadow: 10px 20px 70px 0px rgba(71, 68, 68, 0.08), -15px -50px 81px 0px #FFF;
       }
       .btnn{
        margin: 0 auto;
       }
}

#happy-clients{
    padding: 178px 180px 0 194px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h2{
        margin-bottom: 47px;
    }
    h3 {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: -8px;
    }
    
    p{
        font-size: 18px;
        font-weight: 750;
        margin-left: 25px;
        margin-right: 10px;
        line-height: 30px;
    }

    .avatar-info{
        font-size: 14px;
        font-weight: 760;
        margin-left: 0;
    }

    .avatars{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 15px;
        margin-bottom: 50px;
    }
    .avatar{
        display: grid;
        grid-template-columns: 26% 74%;
        margin-bottom: 30px;
        margin-top: 45px;
        margin-left: 21px;
    }
    .name{
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: flex-start;
    }
    .ava{
        width: 514px;
        height: 347px;
    }
    .arrows{
        display: flex;
        margin: 0 auto;
    }
    .left{
        box-shadow: 10px 20px 70px 0px rgba(71, 68, 68, 0.08), -15px 0px 81px 0px #FFF;
        background-color:#fff;
        border: 1px solid #EBEBEB;
        border-radius: 20px;
        
    }

}

#subscription{
    padding: 185px 0 0 7px;

    p{
        text-align: center;
        margin-bottom: 59px;
        
    }

    h2{
        font-size: 36px;
       
    }


    .btn{
        margin: 0 auto 0 0;
        width: 170px;
        font-size: 20px;
    }
    .email-item{
        display: flex;
        gap: 15px;
    }
    .email{
        font-family: $text-font;
        display: flex;
        align-items: center;
        width: 330px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 165px;
        border: 1.5px solid #F5F5F5;
        background: #FFF;
        margin: 0 0 0 auto;
        font-size: 18px;
        font-weight: 750;
        outline: none;
        padding-left: 24px;
    }
}


@media(max-width: 850px){
    .des-only {
        display:block;
    }
    .desktop-only {
        display:block;
    }
    header{
        padding: 20px 20px 0px 20px;
    }
    
    img{
        width: 180px;
        height: 180px;
        &.logo{
            width: auto;
            height: auto;
        }
    }

    h2{
        font-size: 40px;    
        line-height: 50px;
        margin-bottom: 330px;
        text-align: center;
        
    }

    p{
        font-family: $text-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 750;
        line-height: 34px;
        
        &.content{
            font-size: 18px;
            line-height: 28px;
        }       
        
    }
    .btn{
        margin: 0 auto;
    }
    

    #hero{
        
        h1{
            font-size: 40px;    
            line-height: 50px;
            margin-bottom: 330px;
            text-align: center;
            
        }
        img{
            width: 400px;
            height: 400px;
            margin: 0 0 0 240px;
            position: relative;
            top: -455px;
        }
        p{
            margin-bottom: 30px;
        }
        .grid-block{
            grid-template-columns: 100%;
            grid-auto-rows: auto;
            padding: 40px 40px 0 40px
        }
    }

    #why-choose-us{
        padding: 20px 40px 0 40px;

        h2{
            margin-bottom: 15px;
        }
        h3{
            font-size: 18px;
            margin-bottom: 15px;
            &.num{
                font-size: 24px;
            }
        }
        p{
            margin-bottom: 32px;
            &.p-numbers{
                font-size: 14px;
                line-height: 20px;
            }
        }
        img{
            width: 70px;
            height: 70px;
        }
        .content{
            gap: 20px;
            font-size: 14px;
            line-height: 20px;
        }
        .new-line{
            word-spacing: 10px;
        }

        .numbers{
            gap: 30px;
        }
    }

    #about-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 70px 30px 0 30px;
        align-items: center;
        margin: 0 auto;
        height: auto;

        h2{
            text-align: center;
        }
        p{
            font-size: 20px;
            width: auto;
            margin-bottom: 30px;
            text-align: center;
        }
        
        .about-us-cards {
            display: flex;
            //flex-direction: column;
            gap: 20px;
            position: relative;
            top: -60px;
        
        }

        img{
            width: 180px;
            height: 180px
        }
        .right-img{
            height: 360px;
        }


    }


    #fresh-vegetables{
        padding: 0 30px 0 30px;
        margin-top: -180px;
        height: auto;
        gap:0;
        flex-direction: column;
        
        .fresh-vegetables-cards{
            position: relative;
            top: 550px;
        }

        h2{
            text-align: center;
        }
        p{
            text-align: center;
            margin-bottom: 250px;
        }
        

    }

    #best-chefs {
        padding: 70px 40px 0 40px;
        gap: 0 ;  
        flex-direction: column;   
        
        h2{
            text-align: center; 
            line-height: 50px;
        }
        .m-bottom{
            text-align: center; 
        }
        .best-chefs-cards {
            position: relative;
            top: 0;
            margin: 0 auto;
        }
    }

    #special-dishes {
        padding: 70px 40px 0 40px;
        //margin-bottom: 30px;
        h2{
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 20px;
        }
        .flex-dishes {
            gap: 10px;
            margin-bottom: 30px;}

    
    }

    #happy-clients {
        padding: 70px 40px 0 40px;

        .avatars {
            grid-template-columns: 1fr;
            margin-bottom: 20px;
        }
        .ava {
            width: auto; 
            height: auto;
        }
        .avatar {
            grid-template-columns: 30% 70%;
            margin-top: 25px;
            margin-left: 20px;
        }
        .name {
            
            margin-left: 20px;
        }

        .arrows{
            width: auto;
            height: auto;
        }

        img {
            width: 90px;
            height: 90px;
        }

    }

    #subscription {
        padding: 70px 40px 0 40px;

        h2 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 20px;
        }

        .email {
            text-align: center;
        }
        .btn {
            margin: 0 auto;
        }
        .email-item {
            flex-direction: column;
        }

    }

    footer{
        .grid1{
            grid-row: 1;
            grid-column: 1/5;
        }
        .grid2{
            grid-row: 2;
        }
        .grid-footer {
            padding: 70px 30px 70px 30px;
            grid-template-columns: 20% 20% 20% 20%;
            gap: 10px;
        }

        .btn {
            font-size: 14px;
        }
        h3 {
            font-size: 18px;
        }
        .desk {
            margin-bottom: 20px;
        }
    }



    
    .img{
        width: 50px;
        height: 50px;
    }

    .desktop-only {
       display: none !important;
            
    }
    .mobile-nav{
    position: absolute;
    flex-direction: column;
    right: 20px;
    top: 74px;
    align-items: flex-end;
    width: 100%;
    background-color: white;
    transform: translateX(100%);
    transition: all .4s ease;
    //transform: translateX(0);
    }

    .hero-card{
        width: 100px;
        height: 30px;
    }
}


