@import 'common';


p{
        font-family: $text-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 750;
        line-height: 34px;
        
        &.content{
            font-size: 18px;
            line-height: 28px;
        }       
        
}


h2{
    color: #151414;
    text-align: center;
    font-family: $main-font;
    font-size: 54px;
    font-style: normal;
    font-weight: 770;
    margin-bottom: 15px;
    
            
}

h3{
    color: #151414;
    text-align: center;
    font-family: $main-font;
    font-size: 30px;
    font-style: normal;
    font-weight: 770;
    margin-bottom: 15px;
    
            
}




#hero{
    display: flex;  
    height: 886px;  

    h1{
        font-family: $main-font;
        font-size: 76px;
        font-style: normal;
        font-weight: 770;
        width: 596px;
        margin-bottom: 30px;
    }

    .hero-content{
        margin: 0;
        padding: 179px 0 0 135px;
        width: 596px;
        height: 531px;
        

    }

    p{
        line-height: 34px;
        margin-bottom: 50px;
        width: 504px;
    }

    .green-color{
        color: #5FB848;
    }
    

}

#why-choose-us{
    
    padding: 20px 215px 0 215px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-family: $main-font;

    
    p{
        color: #3B433E;
        text-align: center;
        line-height: 34px;
        margin-bottom: 62px;
        
        &.p-numbers{
            color: #545454;
            font-size: 20px;
            font-weight: 760;
            margin-bottom: 0;
        
        
        }
    }

    h3{
        margin-bottom: 18px;
        
        &.num{
            font-family: $bold-font;
            color: #000;
            font-size: 44px;                
            font-weight: 780;  
            text-align: center;
        }
    }
    
    .content{
        display: flex;
        justify-content:space-between;
        gap: 100px;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 750;
        line-height: 28px;
        margin-bottom: 60px;
    }

    .numbers{
        display: flex;
        justify-content:space-between;
        gap: 150px;
    }
  
    
}

#about-us{
    display: flex;
    padding: 120px 70px 0 135px;
    height: 722px;
    gap: 95px;    
    align-items: center;
        
    h2{
        margin-bottom: 30px;
        text-align: left;
    }

    p{
        margin-bottom: 68px;
        font-size: 22px;
        width: 500px;
    }
    .btn{
        width: 210px;
    }

    
    .about-us-cards{
        display: flex;
        height: 722px;
        gap: 20px;
                
    }
    .left{
        display: flex;
        flex-direction: column;
        gap:20px;        
    }
    .right{
        display: flex;
        align-items: end;        
    }
}


#fresh-vegetables{
    display: flex;
    padding: 140px 70px 0 135px;
    height: 722px;
    gap: 95px;
    align-items: center;
    
    h2{
        margin-bottom: 30px;
        text-align: left;
    }

    p{
        margin-bottom: 40px;
        
    }

    .fresh-vegetables-cards{
        display: flex;
    }
    .fresh-vegetables-content{
        display: flex;
        flex-direction: column;
        align-items: start;    
    }
}

#best-chefs{
    display: flex;
    padding: 80px 168px 0 135px;
    height: 722px;
    gap: 31px;
    align-items: center;
    h2{
        margin-bottom: 30px;
        text-align: left;
    }

    p{
        //margin-bottom: 40px;
        
    }
    .m-bottom{
        margin-bottom: 30px;
    }
    .check{
        display: flex;
        flex-direction: column;
        gap: 20px;

        
    }

    .best-chefs-content{
        display: flex;
        flex-direction: column;
        align-items: start;    
    }
    .direction{
        display: flex;
        align-items: baseline;
        gap: 17px;
    }
    .im-width{
        width: 20px;
        height: 20px;

    }
}

#special-dishes{
    padding: 177px 135px 0 135px;
    p{
        text-align: center;
        margin-bottom: 60px;
        &.mini{
            font-size: 18px;
            line-height: 28px;
        }
    }

    .flex-dishes{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 51px;
        margin-bottom: 60px;
    }

    .info{
        width: 356px;
        height: 520px;
        background-color:#fff;
        border: 1px solid #EBEBEB;
        border-radius: 20px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;      
       }

       .center{
        box-shadow: 10px 20px 70px 0px rgba(71, 68, 68, 0.08), -15px -50px 81px 0px #FFF;
       }
       .btnn{
        margin: 0 auto;
       }
}

#happy-clients{
    padding: 190px 193px 0 194px;
    
    
    h2{
        margin-bottom: 47px;
    }
    h3 {
        font-size: 20px;
        margin-bottom: 3px;
    }
    
    p{
        font-size: 18px;
        font-weight: 750;
        margin-left: 25px;
        margin-right: 25px;
    }

    .avatar-info{
        font-size: 14px;
        font-weight: 760;
        margin-left: 0;
    }

    .avatars{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 25px;
        margin-bottom: 50px;
    }
    .avatar{
        display: grid;
        grid-template-columns: 25% 75%;
        margin-bottom: 32px;
        margin-top: 40px;
        margin-left: 25px;
    }
    .name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .ava{
        width: 514px;
        height: 347px;
    }
    .arrows{
        display: flex;
        margin: 0 auto;
    }
    .left{
        box-shadow: 10px 20px 70px 0px rgba(71, 68, 68, 0.08), -15px 0px 81px 0px #FFF;
        background-color:#fff;
        border: 1px solid #EBEBEB;
        border-radius: 20px;
        
    }

}

#subscription{
    padding: 190px 0 0 0;

    p{
        text-align: center;
        margin-bottom: 60px;
    }

    .btn{
        margin: 0 auto 0 0;
    }
    .email-item{
        display: flex;
        gap: 15px;
    }
    .email{
        display: flex;
        align-items: center;
        width: 330px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 165px;
        border: 1.5px solid #F5F5F5;
        background: #FFF;
        margin: 0 0 0 auto;
        font-size: 18px;
        font-weight: 750;
    }
}


